//
// Card
//


.card-translucent {
    background-color: rgba(18, 91, 152, 0.08);
}

.card-blur{
      backdrop-filter: blur(5px);
      background-color: rgba(0, 0, 0, 0.2);
}

.card-blur input{
    background-color: rgba(0, 0, 0, 0.2);
    color: white !important;
}

.card-blur input[type="text"]:disabled {
    background-color: rgba(0, 0, 0, 0.05);
    color: yellow !important;
}

.card-blur input:focus {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.card-blur .form-control{
    border-left: 0!important;
}

.card-blur .input-group-text {
    background-color: rgba(255, 255, 255, 0.4);
}

.card-blur textarea {
  background-color: rgba(0, 0, 0, 0.2);
  color: $yellow;
  resize: none;
  border: 0;
}

.card-dashboard{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.6);
}

.card-operation{
    min-height: 550px;
}

