//
// Avatar
//

// General styles

.avatar {
	color: $white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	height: 48px;
	width: 48px;

    img {
    	width: 100%;
    }

    + .avatar-content {
    	display: inline-block;
    	margin-left: .75rem;
    }
}


// Avatar size variations

.avatar-lg {
	width: 68px;
	font-size: $font-size-sm;
}

.avatar-sm {
	width: 36px;
	height: 36px;
	font-size: $font-size-sm;
}
